.TableRow {
  background: #eaf6ff;
  width: 100%;
}

.TaskName {
  max-width: 200px;
}

.Button {
  color: #3248c7 !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 375px) {
  .Button {
    font-size: 9px !important;
    min-width: 10px !important;
  }
}

@media(max-width: 590px) {
  .Button {
    font-size: 10px !important;
    min-width: 20px !important;
  }
}
