.Table th {
  color: #808080;
}

.Table td {
  color: #3248c7;
}

@media (max-width: 375px) {
  .Table th {
    padding: 2px;
  }

  .Table td {
    padding: 2px;
    max-width: 55px;
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  .Table th {
    padding: 5px;
    max-width: 55px;
    font-size: 12px;
  }

  .Table td {
    padding: 5px;
    max-width: 55px;
    font-size: 12px;
  }
}

@media (max-width: 730px) {
  .Table th {
    padding: 5px;
  }

  .Table td {
    padding: 5px;
  }
}
